<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% block content %}

  <form method="POST" id="formularioAcceso">
    {% csrf_token %}
        <label for="username">Ingresa tu código de Telegram:</label>
        
    <br>
    <div class="row">
      <div class="col-6">
          <input class="form-control" type="text" id="CodigoTelegram"  name="CodigoTelegram">
          <br>
        <button id="boton2" type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>
    <br>
    </form>


{% endblock %}